@font-face {
	font-family: 'Segoe';
	src: url('fonts/SegoeUI.eot');
	src: url('fonts/SegoeUI.eot') format('embedded-opentype'),
			 url('fonts/SegoeUI.woff') format('woff'),
			 url('fonts/SegoeUI.ttf') format('truetype');
}
@font-face {
	font-family: 'SegoeL';
	src: url('fonts/SegoeUI-Light.eot');
	src: url('fonts/SegoeUI-Light.eot') format('embedded-opentype'),
			 url('fonts/SegoeUI-Light.woff') format('woff'),
			 url('fonts/SegoeUI-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'SegoeSB';
	src: url('fonts/SegoeUI-SemiBold.eot');
	src: url('fonts/SegoeUI-SemiBold.eot') format('embedded-opentype'),
			 url('fonts/SegoeUI-SemiBold.woff') format('woff'),
			 url('fonts/SegoeUI-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'SegoeB';
	src: url('fonts/SegoeUI-Bold.eot');
	src: url('fonts/SegoeUI-Bold.eot') format('embedded-opentype'),
			 url('fonts/SegoeUI-Bold.woff') format('woff'),
			 url('fonts/SegoeUI-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'SegoeBI';
	src: url('fonts/SegoeUI-BoldItalic.eot');
	src: url('fonts/SegoeUI-BoldItalic.eot') format('embedded-opentype'),
			 url('fonts/SegoeUI-BoldItalic.woff') format('woff'),
			 url('fonts/SegoeUI-BoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'SegoeI';
	src: url('fonts/SegoeUI-Italic.eot');
	src: url('fonts/SegoeUI-Italic.eot') format('embedded-opentype'),
			 url('fonts/SegoeUI-Italic.woff') format('woff'),
			 url('fonts/SegoeUI-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'GoogleSans-M';
	src: url('fonts/ProductSans-Medium.ttf');
	src: url('fonts/ProductSans-Medium.ttf') format('truetype');
}